{% extends '::base.html.twig' %}
{% block body %}
Nombre: {{tipoCliente.nombre}}<br/>
<h2>Translations</h2>
{% for locale, translation in translations %}
   [{{locale}}] => {
    {% for campo, valor in translation %}
         <br/>'{{campo}}'=>'{{valor}}', <br/>
    {% else %}
        No hay campos en translation '{{locale}}'
    {% endfor %}
    }    
{% else %}
    No hay translations ;-(
{% endfor %}



{% endblock %}