{% extends 'KoramaPruebaBundle::template_tipocliente.html.twig' %}
{% block content %}
Nombre: {{tipoCliente.nombre}}<br/>
<h3>{{'translations'|trans}}</h3>
<ul>
{% for translation in tipoCliente.translations %}
    <li>
        <ul>
            <li>locale:{{ translation.locale }}</li>
            <li>field:{{ translation.field }}</li>
            <li>content:{{ translation.content }}</li>
        
        </ul>
    </li>
{% else %}
    <li>No hay translations ;-(</li>
{% endfor %}
</ul>


{% endblock %}