{% extends 'KoramaPruebaBundle::template_cliente.html.twig' %}
{% block content %}
<form action="{{ path('cliente_edit', { 'id': form.vars.value.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="{{'send.data'|trans}}"/>
</form>
<a href="{{ path('cliente_index') }}">{{'back'|trans}}</a>
{% endblock %}

