{% extends '::base.html.twig' %}
{% block body %}
<ul>
    <li><a href="{{ path('cliente_index') }}">{{'customer'|trans}}</li>
    <li><a href="{{ path('tipocliente_index') }}">{{'customer-type'|trans}}</li>
</ul>
<a href="{{ path('inicio') }}">{{'back'|trans}}</a>
{% endblock %}